Repository tedilabs/terraform-aws-ec2, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: instance, :floppy_disk: instance-group, :floppy_disk: placement-group

.github/labeler.yaml:

# Modules
":floppy_disk: instance":
- modules/instance/**/*
":floppy_disk: instance-group":
- modules/instance-group/**/*
":floppy_disk: placement-group":
- modules/placement-group/**/*

Add example for placement-group module
  examples/placement-groups/main.tf
  examples/placement-groups/outputs.tf
  examples/placement-groups/versions.tf
Labels: none

Update instance module
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/outputs.tf
  modules/instance/variables.tf
  modules/instance/versions.tf
  modules/placement-group/README.md
  modules/placement-group/versions.tf
Labels: :floppy_disk: instance, :floppy_disk: placement-group

Support cpu options and credit specification for instance module
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/outputs.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

Support shutdown_behavior, auto_recovery_enabled, monitoring_enabled for instance module
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/outputs.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

Support host and placement group for instance module
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/outputs.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

Update placement-group module docs
  modules/placement-group/README.md
  modules/placement-group/variables.tf
Labels: :floppy_disk: placement-group

Support spread_level for placement-group module
  modules/placement-group/README.md
  modules/placement-group/main.tf
  modules/placement-group/outputs.tf
  modules/placement-group/variables.tf
  modules/placement-group/versions.tf
Labels: :floppy_disk: placement-group

Support spread_level for placement-group module (#2)
  modules/placement-group/README.md
  modules/placement-group/main.tf
  modules/placement-group/outputs.tf
  modules/placement-group/variables.tf
  modules/placement-group/versions.tf
Labels: :floppy_disk: placement-group

Fix output error in placement-group module
  modules/placement-group/outputs.tf
Labels: :floppy_disk: placement-group

Fix output error in placement-group module (#3)
  modules/placement-group/outputs.tf
Labels: :floppy_disk: placement-group

Bump to v0.1.2
  VERSION
Labels: none

Add ssh-key module
  modules/placement-group/variables.tf
  modules/ssh-key/README.md
  modules/ssh-key/main.tf
  modules/ssh-key/outputs.tf
  modules/ssh-key/resource-group.tf
  modules/ssh-key/variables.tf
  modules/ssh-key/versions.tf
Labels: :floppy_disk: placement-group
