Repository tedilabs/terraform-aws-ec2, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: instance, :floppy_disk: instance-group, :floppy_disk: placement-group, :floppy_disk: ssh-key

fix(instance): drop default VPC support so subnet can be unknown at plan time
  modules/instance/security-group.tf
Labels: :floppy_disk: instance

fix(instance): drop default VPC support so subnet can be unknown at plan time (#66)
  modules/instance/security-group.tf
Labels: :floppy_disk: instance

fix(instance): fix plan error
  VERSION
Labels: none

fix(instance): accept an explicit vpc_id for the default security group
  modules/instance/security-group.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

Update security-group.tf
  modules/instance/security-group.tf
Labels: :floppy_disk: instance

fix(instance): accept an explicit vpc_id for the default security group (#67)
  modules/instance/security-group.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

chore: bump to v0.2.4
  VERSION
Labels: none

chore(deps): align tedilabs child module version constraints with latest releases
  modules/instance/README.md
  modules/instance/iam.tf
  modules/instance/security-group.tf
Labels: :floppy_disk: instance

chore(deps): align tedilabs child module version constraints with latest releases (#68)
  modules/instance/README.md
  modules/instance/iam.tf
  modules/instance/security-group.tf
Labels: :floppy_disk: instance

fix(examples): correct terraform and provider version constraints
  examples/instance-simple/versions.tf
  examples/placement-groups/versions.tf
  examples/ssh-key-pairs/versions.tf
Labels: none

fix(examples): correct terraform and provider version constraints (#69)
  examples/instance-simple/versions.tf
  examples/placement-groups/versions.tf
  examples/ssh-key-pairs/versions.tf
Labels: none

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/instance/README.md
  modules/placement-group/README.md
  modules/ssh-key/README.md
Labels: :floppy_disk: instance, :floppy_disk: placement-group, :floppy_disk: ssh-key

docs: regenerate terraform-docs with shared config (#71)
  modules/instance/README.md
  modules/placement-group/README.md
  modules/ssh-key/README.md
Labels: :floppy_disk: instance, :floppy_disk: placement-group, :floppy_disk: ssh-key

.github/labeler.yaml:

# Modules
":floppy_disk: instance":
- changed-files:
  - any-glob-to-any-file:
    - modules/instance/**/*

":floppy_disk: instance-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/instance-group/**/*

":floppy_disk: placement-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/placement-group/**/*

":floppy_disk: ssh-key":
- changed-files:
  - any-glob-to-any-file:
    - modules/ssh-key/**/*
