Repository tedilabs/terraform-aws-ec2, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: instance, :floppy_disk: instance-group, :floppy_disk: placement-group, :floppy_disk: ssh-key

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

Update instance module
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/security-group.tf
  modules/instance/variables.tf
  modules/placement-group/README.md
  modules/placement-group/versions.tf
Labels: :floppy_disk: instance, :floppy_disk: placement-group

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/ssh-key/README.md
Labels: :floppy_disk: ssh-key

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#48)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/instance/outputs.tf
  modules/instance/resource-group.tf
  modules/instance/variables.tf
  modules/placement-group/outputs.tf
  modules/placement-group/resource-group.tf
  modules/placement-group/variables.tf
  modules/ssh-key/outputs.tf
  modules/ssh-key/resource-group.tf
  modules/ssh-key/variables.tf
Labels: :floppy_disk: instance, :floppy_disk: placement-group, :floppy_disk: ssh-key

feat(instance): replace `cpu_core_count` and `cpu_threads_per_core` to `cpu_options`
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/outputs.tf
Labels: :floppy_disk: instance

feat: improve how to use resource_group in modules (#49)
  modules/instance/README.md
  modules/instance/main.tf
  modules/instance/outputs.tf
  modules/instance/resource-group.tf
  modules/instance/variables.tf
  modules/placement-group/outputs.tf
  modules/placement-group/resource-group.tf
  modules/placement-group/variables.tf
  modules/ssh-key/outputs.tf
  modules/ssh-key/resource-group.tf
  modules/ssh-key/variables.tf
Labels: :floppy_disk: instance, :floppy_disk: placement-group, :floppy_disk: ssh-key

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#50)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#56)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

Remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update github labels
  .github/labels.yaml
Labels: none

feat(ssh-key): support aws v6
  modules/ssh-key/README.md
  modules/ssh-key/main.tf
  modules/ssh-key/outputs.tf
  modules/ssh-key/variables.tf
  modules/ssh-key/versions.tf
Labels: :floppy_disk: ssh-key

feat(placement-group): support aws v6
  modules/placement-group/README.md
  modules/placement-group/main.tf
  modules/placement-group/outputs.tf
  modules/placement-group/variables.tf
  modules/placement-group/versions.tf
Labels: :floppy_disk: placement-group

chore: bump to v0.2.2
  VERSION
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#63)
  README.md
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

feat(instance): support aws v6
  modules/instance/README.md
  modules/instance/eip.tf
  modules/instance/iam.tf
  modules/instance/main.tf
  modules/instance/outputs.tf
  modules/instance/resource-group.tf
  modules/instance/security-group.tf
  modules/instance/variables.tf
  modules/instance/versions.tf
Labels: :floppy_disk: instance

fix: support region for resource group
  modules/placement-group/resource-group.tf
  modules/ssh-key/resource-group.tf
Labels: :floppy_disk: placement-group, :floppy_disk: ssh-key

feat(instance): add permissions_boundary support for IAM role
  modules/instance/iam.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

feat(instance): add permissions_boundary support for IAM role (#65)
  modules/instance/iam.tf
  modules/instance/variables.tf
Labels: :floppy_disk: instance

.github/labeler.yaml:

# Modules
":floppy_disk: instance":
- changed-files:
  - any-glob-to-any-file:
    - modules/instance/**/*

":floppy_disk: instance-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/instance-group/**/*

":floppy_disk: placement-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/placement-group/**/*

":floppy_disk: ssh-key":
- changed-files:
  - any-glob-to-any-file:
    - modules/ssh-key/**/*
